@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: outfit;
}


.gb-primary {
  background-color: #53679c;
}
.grid-template-columns {
  display: column;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* Hide scrollbar for Chrome, Safari, Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge, Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


